<app-navbar></app-navbar>


<div style="background: #eeee; height: 93vh; display: flex; align-items: center; ">
  <div class="container"  >
    <div class="row">
        <div class="col-md-6 col-sm-12 mb-5 " style=" display: flex; justify-content: center; align-items: center;">
          <div class="lottie-container" #lottieContainer></div>
      </div>    
      <div class="col-md-6 col-sm-12" style=" display: flex; justify-content: center; align-items: center; flex-direction: column; "> 
        <div class="col-md-9 col-sm-12">  
          <h2 class="mb-4">Rea Teknoloji Sınavı</h2>
        <p style="width: 100%; line-height: 40px;">Merhaba burada rea tekonoli akademi bitirme taski yapılmıştır. Detaylar için lütfen giriş yaparak profilim sayfasına gidiniz. 
        Temel crud işlemleri, giriş yapmadan erişime izin verilememe gibi özellikler mevcuttur.  Admin Userın yetkileri bu iken Admin tüm tivitleri ve userları görüntüleyebilir. usertype: 0 admin: 1 user.
      Backteki ilişikilerde oluşan sorunlar yüzünden tweet ın güncellemesi çalışmamaktadır. Consolda hata vermediği için sorunu bulamadım.</p>
           <button type="button" class="btn btn-outline-secondary" style="width: 180px; height: 45px; border-radius: 12px;">İletişim</button>
        </div>
  
      </div>
     
    </div>
  </div>
</div>



<app-tweet-feed></app-tweet-feed>
<!-- tivit akışı -->



<app-footer></app-footer>

