<div class="container-fulid" style="background-image: linear-gradient(to bottom right, rgb(31, 57, 124), rgb(12, 23, 53)); height: 150px; display: flex; justify-content: center; align-items: center;  ">
    <div class="col-7 ">
        <!-- <div class="col-md-12 col-sm-12 mb-5" style="color: white; display: flex; justify-content: center;">
           
        </div> -->

        <div class="col-md-12 col-sm-12 " style=" display: flex; justify-content: space-around;  ">
            <a style="color: white;" href="https://github.com/aylinayduvan1" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
            <a style="color: white;" href="https://www.linkedin.com/in/aylin-ayduvan-678376202/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
            <a  style="color: white;" href="https://www.youtube.com/channel/UC0_ujxSEJaWWJQd_Q7YCfkA" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>
        </div>       
    </div>
</div>
