


<nav class="navbar navbar-expand-lg g-dark "  data-bs-theme="dark" style="background-image: linear-gradient(to bottom right, rgb(31, 57, 124), rgb(12, 23, 53));">
    <div class="container">
      <a  style="color: white; " class="navbar-brand" routerLinkActive="/" href="/">
       Aylin Fake Tweet
      </a>     
       <button class="navbar-toggler" style="color: white !important;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span  class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        
          
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll w-100" style="--bs-scroll-height: 100px; display: flex; align-items: center; justify-content: space-between;">
          <li class="nav-item">
            <a  style="color: white;" class="nav-link active" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"  >Ana Sayfadasınız</a>

          </li>
          <div style="display: flex; flex-direction: row;  align-items: center; justify-content: space-around; width: 14%;">
            <li class="nav-item">
              <!-- Eğer kullanıcı giriş yapmışsa /profile sayfasına yönlendir -->
              <a style="color: white;" *ngIf="isLoggedIn()" class="nav-link active" routerLink="/dashboard" routerLinkActive="active" aria-current="page" href="#">Profilim</a>

              <!-- Eğer kullanıcı giriş yapmamışsa /login sayfasına yönlendir -->
              <a style="color: white;" *ngIf="!isLoggedIn()" class="nav-link active" routerLink="/login" routerLinkActive="active" aria-current="page" href="#">Giriş Yap</a>            
            </li>
           
            <p-avatar icon="pi pi-home" styleClass="mr-2" shape="circle" ></p-avatar>
           </div>

          </ul>

      </div>

    </div>

  </nav>